go/include/bindings.h
src/bindings.rs
.idea
deps/root/*
deps/time/*.tar.gz
deps/time/time*
deps/emp-*/*.tar.gz
deps/emp-*/emp-*
deps/emp-*/build-*
deps/*/*.git
deps/*/tmp-*
tx/txdata_*
target/*

.*.swp
